---
import AuthLayout from "../../layouts/AuthLayout.astro";
import RegisterForm from "../../components/auth/RegisterForm";
---

<AuthLayout title="Rejestracja | 10x Cards">
  <Fragment slot="title">Zarejestruj się</Fragment>

  <RegisterForm client:load />

  <p slot="footer">
    Masz już konto?
    <a href="/auth/login" class="text-blue-300 hover:text-blue-200 font-medium ml-1"> Zaloguj się </a>
  </p>
</AuthLayout>
